#reg {
    header {
      height: 2.625rem;
      display: flex;
      padding: 0 0.9375rem;
      font-size: 1.25rem;
      a {
        display: inline-block;
        line-height: 2.625rem;
        font-size: 24px;
      }
      h1 {
        flex: 1;
        a {
          float: right;
          line-height: 2.625rem;
          font-size: 0.875rem;
        }
      }
    }
    .logbody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.875rem;
      .logtx {
        height: 3.75rem;
        display: flex;
        justify-content: center;
        margin: 0.9375rem 0 3.375rem 0;
        img {
          width: 3.75rem;
          height: 3.75rem;
        }
      }
      .logform {
        color: rgb(204, 204, 214);
        .log {
          .loguser,.logpass {
            display:flex;
            flex-direction: column;
            .el-button--default {
              color: rgb(204, 204, 214);
            }
            .codebtn {
              border-color: rgb(0, 190, 136);
              color: rgb(0, 190, 136);
            }
            border-bottom: 1px solid #e8e8e8;
            padding: 0.4375rem 0;
            display: flex;
            margin-bottom: 0.9375rem;
            input::-webkit-input-placeholder {
              font-size: 0.875rem;
              color: rgb(204, 204, 214);
            }
            input {
              flex: 1;
            }
            p{
              flex:1;
            }
          }
          .logtip {
            margin-bottom: 0.43rem;
            color: #999;
            font-size: 0.75rem;
          }
          .logbtn {
            .logYess {
              color: #fff;
              background: rgb(0, 190, 136);
              box-shadow: 0 1px 8px rgba(50, 155, 125, 0.5);
            }
            .logNo {
              background: rgb(164, 232, 213);
              border-color: rgb(164, 232, 213);
              color: #fff;
            }
            .el-button--success {
              width: 100%;
              margin: 1.5625rem 0;
              height: 2.625rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  