#box {
    height: 100%;
    display: flex;
    flex-direction: column;
    .appheader {
      height: 2.625rem;
      display: flex;
      padding: 0 0.9375rem;
      font-size: 1.25rem;
      box-shadow: 0 -1px 5px #ccc;
      a {
        display: block;
        line-height: 2.625rem;
        font-size: 24px;
      }
      h1 {
        flex: 1;
        text-align: center;
        line-height: 2.625rem;
      }
    }
    .kefubox {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index:2;
      top: 0;
      right: 0;
      .zhezhao {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
        position: fixed;
        top: 0;
        right: 0;
      }
      .kefubottom {
        position: absolute;
        width: 3.75rem;
        height: 3.75rem;
        bottom: 1.5rem;
        left: -50%;
        right: -50%;
        margin: auto;
        z-index: 2;
        i {
          display: block;
          color: #fff;
          font-size: 3.75rem;
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
      .kefutop {
        display: flex;
        width: 100%;
        height: 6.25rem;
        justify-content: space-around;
        position: absolute;
        z-index: 2;
        bottom: 10.25rem;
        left: 0;
        .kefutopItem {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          span {
            color: #fff;
          }
          i {
            border-radius: 50%;
            color: #fff;
            background: #00be88;
            width: 3.75rem;
            height: 3.75rem;
            text-align: center;
            line-height: 3.75rem;
            display: block;
            font-size: 1.85rem;
            margin-bottom: 0.625rem;
          }
        }
      }
    }    
    .main {
      flex: 1;
      overflow: auto;
    }
    .fixbottom {
      bottom: 0px;
      left: 0px;
      .appBottom {
        box-shadow: 0 -1px 5px #ccc;
        display: flex;
        justify-content: space-around;
        height: 3.125rem;
  
        .appBottomItem {
          color: #bbb;
          padding-top: 0.3125rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          span {
            font-size: 0.75rem;
          }
          .hometab {
            color: #00be88;
          }
          .appBottomI {
            font-size: 1.325rem;
            text-align: center;
          }
        }
      }
    }
  }